/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS Reset end */
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.banner {
    background-image: url('../image/banner.png');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-top: 356px;
    padding-bottom: 268px;
    margin-bottom: 64px;
}

.banner_text{
    color: white;
    margin-bottom: 48px;
}

.banner_text > p, h3{
    font-size: 24px;
    line-height: 28px;
    font-style: italic; 
    font-weight: bold;
}

.banner_text > h1{
    font-size: 80px;
    line-height: 94px;
    font-style: italic; 
}

.banner_text .here, .brand_text > .brand_slogan{
    font-size: 24px;
    line-height: 28px;
    font-style: italic; 
}

.icons{
    display: flex;
}

.icons > li{
    margin: 0 8px;
}

h2{
    font-size: 64px;
    line-height: 75px;
    font-style: italic;
    margin-top: 0;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 56px;
}

.about_main{
    border-bottom: 1px solid black;
}

.about_main > li{
    margin-bottom: 8px;
}

.about > .about_main > li, .about_text > p{
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    font-style: italic; 
    font-weight: bold;
}

.about > img{
    width: 384px;
    /* height: 384px; */
    margin-bottom: 24px;
}

.dot{
    display: block;
    width: 22px;
    height: 22px;
    background-color: #891818;
    border-radius: 999px;
    margin-right: 16px;

}

.about_text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}

.brands{
    background-color: black;
    color: white;
    padding: 64px 0 160px 0;
    text-align: center;
    margin-bottom: 64px;
}

.brand_photo > li > img{
    max-width: 792px;
    /* height: 416px; */
}

.brand_subphoto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.brand_photo > .brand_subphoto > img{
    max-width: 588px;
    /* height: 416px; */
    /* margin: 40px 12px; */
}

.brand_slogan{
    margin-bottom: 32px;
}

.brand_description{
    margin-bottom: 68px;
}

.others{
    text-align: center;
    margin-bottom: 104px;
}

.others > h2{
    margin-top: 0;
    margin-bottom: 24px;
}

.others_text{
    margin-bottom: 56px;
}

.others_text > p {
    font-size: 20px;
    line-height: 30px;
    font-style: italic;
}

.others_photo1, .others_photo2, .others_photo3{
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;
}

.others_detail1 > img {
    /* height: 528px; */
    width: 384px;
    /* margin: 0 12px; */

}

.others_detail2 > img {
    width: 588px;
    /* height: 424px; */
    /* margin: 0 12px; */
}

.others_detail3 > img {
    width: 384px;
    /* height: 280px; */
    /* margin: 0 12px; */
}

.others_detail1 > p, .others_detail2 > p, .others_detail3 > p{
    font-size: 20px; 
    line-height: 28px;
}

.footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 64px 0 80px 0;
}

.footer > p{
    font-size: 24px;
    line-height: 33px;
    font-style: italic;
}

.contact > li{
    margin-bottom: 16px;
}

.contact > li > a{
    text-decoration: none;
    color: white;
    font-style: italic;
}

.contact > li > a:hover{
    color: yellow;
    text-decoration: underline;
}